html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Overpass, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(#ff9500, #ff5e3a);
  margin: 0;
  color: #fff;
}

h2 {
  font-size: 2rem;
  margin: 0;
  padding: 1rem 1rem 0;
}

h3 {
  font-size: 1.5rem;
  text-align: center;
}

ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: 0;
  padding: 0;
}

ul li {
  padding: 6vmin;
}

a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-decoration: none;
}

.button {
  border: .2rem solid #fff;
  padding: 1rem;
  font-size: 1.125rem;
}

a:hover, a:focus {
  color: #ff5e3a;
}

.icon {
  position: relative;
  height: 8rem;
  width: 8rem;
}

.icon svg {
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  fill: currentColor;
}

@media only screen and (min-width: 25em) {

  h2 {
    text-align: center;
  }

  ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 0;
    padding: 0;
  }

  ul li {
    padding: 1rem;
    margin: 0;
  }

  body {
    padding: 1rem;
  }

}

@media only screen and (min-width: 38em) {

  h2 {
    padding: 1rem;
  }

  ul li {
    padding: 1rem;
  }

  p {
    margin-bottom: 4rem;
  }

}
